{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.openweathermap.org/data/2.5/weather?appid=c4ca25f798009c8eb72d9da4093f0b44&units=imperial&zip=00000,US",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"cod\":\"404\",\"message\":\"city not found\"}"
        }
      },
      "recorded_at": "Sun, 04 Feb 2024 00:08:02 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}